<div class="container mx-auto px-4 py-8">
  <div class="max-w-4xl mx-auto p-8 rounded-lg shadow-lg">
    <h1 class="text-5xl font-extrabold dark:text-white">
      Um Sistema de Gerenciamento de<small
        class="ms-2 font-semibold text-gray-500 dark:text-gray-400"
        >LIVROS</small
      >
    </h1>

    <p class="my-4 text-lg">
      Este projeto é uma aplicação de gerenciamento de livros, construída com
      uma stack moderna que inclui
      <span class="font-semibold">Angular 18</span> no front-end e
      <span class="font-semibold">Spring Boot</span> no back-end, utilizando
      <span class="font-semibold">Java 21</span>,
      <span class="font-semibold">MySQL</span>,
      <span class="font-semibold">JPA</span>, e
      <span class="font-semibold">Swagger/OpenAPI</span> para documentação. A
      aplicação permite adicionar, listar, buscar, editar e excluir livros e
      autores.
    </p>
    <p class="mb-4 text-lg font-normal">
      No back-end, usamos <span class="font-semibold">MapStruct</span> para
      mapeamento de dados e <span class="font-semibold">Lombok</span> para
      simplificar o código. O banco de dados
      <span class="font-semibold">MySQL</span> é gerenciado pelo
      <span class="font-semibold">JPA</span>, garantindo um acesso eficiente e
      seguro aos dados. Com a integração do
      <span class="font-semibold">Swagger</span> e
      <span class="font-semibold">OpenAPI</span>, a API é documentada e fácil de
      explorar.
    </p>
    <p class="mb-4 text-lg font-normal">
      No front-end, a aplicação é desenvolvida em
      <span class="font-semibold">Angular 18</span>, com uma interface moderna e
      responsiva, utilizando <span class="font-semibold">Flowbite</span> e
      <span class="font-semibold">Tailwind CSS</span> para estilização. Estes
      frameworks garantem que a experiência do usuário seja agradável e que a
      interface seja fácil de usar, independentemente do dispositivo.
    </p>
    <p class="mb-4 text-lg font-normal">
      Este projeto visa proporcionar uma experiência robusta e intuitiva para o
      gerenciamento de uma biblioteca de livros, permitindo que usuários
      realizem operações CRUD de forma simples e eficaz.
    </p>
    <a
      href="https://docs.google.com/document/d/17plA6qJxtXkpmPj5hIGhCO5WWG1Zqqy1XGQA_SARtOk/edit?usp=sharing"
      target="_blank"
      class="inline-flex items-center text-lg text-blue-600 dark:text-blue-500 hover:underline"
    >
      Documentação
      <svg
        class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
    <br />
    <button
      type="button"
      class="text-white mt-5 bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2"
    >
      <svg
        class="w-4 h-4 me-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          fill-rule="evenodd"
          d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
          clip-rule="evenodd"
        />
      </svg>
      <a href="https://github.com/RobsonFe/Books-Front" target="_blank">
        Acesse o Repositório do Projeto
      </a>
    </button>

    <div
      class="flex mt-5 flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
    >
      <a
        routerLink="/login"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        Vamos Começar!
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
      <a
        routerLink="/greetings"
        class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400"
      >
        Volte para Home
      </a>
    </div>
  </div>
</div>
