<app-home />
<div class="container mx-auto px-4 py-8">
  <div class="p-6 rounded-lg shadow-lg">
    <app-profile />
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
    <h1 class="text-3xl font-bold mb-4">Sobre Mim</h1>

    <p class="mb-3 text-lg md:text-xl">
      Desenvolvedor de Sistemas apaixonado por tecnologia, com uma trajetória
      profissional marcada por uma constante evolução e busca por novas
      habilidades.
    </p>
    <p>
      O meu primeiro contato com computadores foi através do Windows 98 no
      computador do meu irmão, e desde então, decidi que a tecnologia seria o
      meu caminho.
    </p>
    <p class="mt-4">
      A minha jornada no desenvolvimento começou com Java, utilizando Spring
      Boot e Angular para construir APIs REST robustas. Ao longo do tempo, me
      aprofundei em novas tecnologias, como React e Node.js (NestJS), expandindo
      minhas competências em desenvolvimento web.
    </p>
    <p class="mt-4">
      Atualmente, estou focado em Python, desenvolvendo automações RPA, APIs
      REST com Django Rest Framework, e realizando análise de dados. Além disso,
      continuo a criar microsserviços eficientes com NestJS. Estou sempre em
      busca de aprimorar minhas habilidades e contribuir de forma significativa
      nos projetos que participo.
    </p>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />

    <h2 class="text-2xl font-bold mb-4 mt-10">Stack de Desenvolvimento</h2>
    <ol class="space-y-4 list-decimal list-inside">
      <li>
        Front-End
        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
          <li>JavaScript e TypeScript</li>
          <li>CSS, SCSS, Bootstrap, BulmaCSS e Tailwind.</li>
          <li>React, NextJs e Angular</li>
        </ul>
      </li>
      <li>
        Back-End
        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
          <li>Java, Python e Node.js</li>
          <li>Spring Boot, NestJS, Django e Django Rest Framework</li>
          <li>MySql, PostgreSQL, MongoDB e Redis</li>
        </ul>
      </li>
      <li>
        Outras Tecnologias
        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
          <li>Docker e AWS</li>
          <li>RabbitMQ e Kafka</li>
          <li>Teste Unitários, Integração e Ponta a Ponta</li>
        </ul>
      </li>
    </ol>

    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />

    <h2 class="text-2xl font-bold mb-4 mt-10">Experiências</h2>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">Ativos</h3>
      <p class="text-sm">Desenvolvedor Back End (01/07/2024 - até o momento)</p>
      <p class="mt-2">
        Desenvolvimento de aplicações Python utilizando RPA e Análise de Dados,
        automatizando processos administrativos e tarefas. Atuação em projetos
        com CRM feito em Django Rest Framework e NextJS, microsserviços com Node
        e NestJS, consultas e scrapping de dados, cálculos de Precatórios
        Federais e Judiciais.
      </p>
      <p class="font-semibold mt-2">Tecnologias:</p>
      <p>
        MongoDB, Prisma, PostgreSQL, Python, Node.js, Django, Express.js,
        NestJS, Postman
      </p>
    </div>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">Meloz Tech</h3>
      <p class="text-sm">
        Desenvolvedor Full Stack (Freelancer) (17/01/2024 - 10/06/2023)
      </p>
      <p class="mt-2">
        Iniciei como front-end em React, expandindo para Full Stack,
        desenvolvendo implementações em React, Node e NestJS, com foco em testes
        unitários, E2E, e organização de Pipelines junto ao DevOps. Atuei como
        Tech Lead em um dos projetos, além de projetos com PowerBI e Análise de
        Dados.
      </p>
      <p class="font-semibold mt-2">Tecnologias:</p>
      <p>
        JavaScript, PostgreSQL, Node.js, React.js, Tailwind, RabbitMQ, NestJS
      </p>
    </div>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">JB Telecom</h3>
      <p class="text-sm">Desenvolvedor Full Stack (09/10/2023 - 05/01/2024)</p>
      <p class="mt-2">
        Entrei como suporte de informática e logo passei a ser desenvolvedor
        Full Stack, desenvolvendo sites e sistemas web, automações com Python e
        manipulação de dados com SQL e CSV. Automatizei envios de e-mail com
        Nodemailer e criei relatórios utilizando JasperStudio.
      </p>
      <p class="font-semibold mt-2">Tecnologias:</p>
      <p>JavaScript, HTML, Java, Python, Node.js, Bootstrap, CSS, Jupyter</p>
    </div>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">FENSG - UPE</h3>
      <p class="text-sm">Estagiário de Informática (05/09/2022 - 18/10/2024)</p>
      <p class="mt-2">
        Atuei em diversas áreas da informática, desde desenvolvimento web com
        Wordpress, HTML, CSS e JavaScript, até suporte em equipamentos e
        desenvolvimento de aplicações Java para auxiliar processos
        administrativos.
      </p>
      <p class="font-semibold mt-2">Tecnologias:</p>
      <p>JavaScript, HTML, Java, WordPress, CSS</p>
    </div>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">Freelancer</h3>
      <p class="text-sm">Desenvolvedor Full Stack (01/08/2022 - 01/05/2024)</p>
      <p class="mt-2">
        Desenvolvi projetos como freelancer, criando sites, aplicações web e
        soluções para diversos clientes, utilizando uma variedade de
        tecnologias, como Java, Spring Boot, JavaScript, Python e Excel.
      </p>
      <p class="font-semibold mt-2">Tecnologias:</p>
      <p>
        JavaScript, HTML, Java, Next.js, Python, Node.js, Tailwind, Bootstrap,
        CSS, JSON, Express.js
      </p>
    </div>

    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
    <dl class="max-w-md">
      <div class="flex flex-col pb-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Email</dt>
        <dd class="text-lg font-semibold">
          robson-ferreiradasilva&#64;hotmail.com
        </dd>
      </div>
      <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
          Endereço
        </dt>
        <dd class="text-lg font-semibold">
          Rua Alecrim n67, Olinda - Rio Doce, 53070050, Pernambuco, BRA
        </dd>
      </div>
      <div class="flex flex-col pt-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
          Telefone
        </dt>
        <dd class="text-lg font-semibold">55 81 983659103</dd>
      </div>
    </dl>
  </div>
</div>
