<app-carousel />
<div class="mt-10 flex flex-col justify-center items-center">
  <div
    class="max-w-3xl mx-auto p-8 bg-white dark:bg-gray-800 rounded-lg shadow-lg text-center"
  >
    <h1 class="text-5xl font-bold mb-4 text-gray-900 dark:text-gray-100">
      Bem-vindo!
    </h1>
    <p class="text-lg text-gray-700 dark:text-gray-300 mb-6">
      Ao Sistema de Gerenciamento de Livros
    </p>
    <p class="text-md text-gray-600 dark:text-gray-400 mb-6">
      Aqui, você pode adicionar, editar, listar, buscar e excluir livros e
      autores de forma simples e intuitiva.
    </p>
    <a
      routerLink="/books"
      class="inline-block px-6 py-2 text-lg font-semibold rounded-lg shadow-md transition-transform transform hover:scale-105 text-[#f8f9fa] bg-[#0f0f0f] cursor-pointer"
    >
      Acessar o Dashboard
    </a>
    <div class="flex justify-center space-x-4 mt-6">
      <a
        href="https://github.com/RobsonFe"
        target="_blank"
        class="text-gray-600 hover:text-gray-800"
      >
        <i class="fab fa-github fa-2x"></i>
        <span class="sr-only">GitHub</span>
      </a>
      <a
        href="https://www.linkedin.com/in/robson-ferreira-508247134/"
        target="_blank"
        class="text-gray-600 hover:text-gray-800"
      >
        <i class="fab fa-linkedin fa-2x"></i>
        <span class="sr-only">LinkedIn</span>
      </a>
      <a
        href="https://www.instagram.com/rob_ferreira88/"
        target="_blank"
        class="text-gray-600 hover:text-gray-800"
      >
        <i class="fab fa-instagram fa-2x"></i>
        <span class="sr-only">Instagram</span>
      </a>
    </div>
  </div>
</div>
