<div class="container mx-auto px-4 py-8">
  <div
    class="max-w-4xl mx-auto bg-white dark:bg-gray-800 p-8 rounded-lg shadow-lg"
  >
    <h1
      class="text-4xl font-bold mb-6 text-gray-900 dark:text-gray-100 text-center"
    >
      Sobre o Projeto
    </h1>
    <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300 mb-6">
      Este projeto é uma aplicação de gerenciamento de livros, construída com
      uma stack moderna que inclui
      <span class="font-semibold">Angular 18</span> no front-end e
      <span class="font-semibold">Spring Boot</span> no back-end, utilizando
      <span class="font-semibold">Java 21</span>,
      <span class="font-semibold">MySQL</span>,
      <span class="font-semibold">JPA</span>, e
      <span class="font-semibold">Swagger/OpenAPI</span> para documentação. A
      aplicação permite adicionar, listar, buscar, editar e excluir livros e
      autores.
    </p>
    <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300 mb-6">
      No back-end, usamos <span class="font-semibold">MapStruct</span> para
      mapeamento de dados e <span class="font-semibold">Lombok</span> para
      simplificar o código. O banco de dados
      <span class="font-semibold">MySQL</span> é gerenciado pelo
      <span class="font-semibold">JPA</span>, garantindo um acesso eficiente e
      seguro aos dados. Com a integração do
      <span class="font-semibold">Swagger</span> e
      <span class="font-semibold">OpenAPI</span>, a API é documentada e fácil de
      explorar.
    </p>
    <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300 mb-6">
      No front-end, a aplicação é desenvolvida em
      <span class="font-semibold">Angular 18</span>, com uma interface moderna e
      responsiva, utilizando <span class="font-semibold">Flowbite</span> e
      <span class="font-semibold">Tailwind CSS</span> para estilização. Estes
      frameworks garantem que a experiência do usuário seja agradável e que a
      interface seja fácil de usar, independentemente do dispositivo.
    </p>
    <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300">
      Este projeto visa proporcionar uma experiência robusta e intuitiva para o
      gerenciamento de uma biblioteca de livros, permitindo que usuários
      realizem operações CRUD de forma simples e eficaz.
    </p>
  </div>
</div>
