<div class="container">
  <article class="card">
    <div class="background">
      <img src="https://i.imgur.com/thWBSJX.jpg" alt="profile" />
    </div>
    <div class="content">
      <h2>Robson Ferreira</h2>
      <p>
        Back End Engineer at
        <a
          href="https://www.ativosprecatorios.com.br/"
          target="_blank"
          title="Google"
        >
          Ativos Precatórios
        </a>
      </p>
      <p>Helping with:</p>
      <ul class="chips">
        <a
          class="chip"
          href="https://docs.spring.io/spring-boot/index.html"
          target="_blank"
        >
          Spring Boot
        </a>
        <a class="chip" href="https://nestjs.com/" target="_blank">NestJs</a>
        <a class="chip" href="https://www.djangoproject.com/" target="_blank"
          >Django</a
        >
      </ul>
      <div class="action-buttons">
        <a href="#book-a-mentor"> Book a lector </a>
        <a href="https://github.com/RobsonFe" target="_blank" class="secondary">
          Learn More
        </a>
      </div>
    </div>
  </article>
</div>
