<nav class="navbar">
  <div class="hamburger" (click)="toggleMenu()">
    <!-- <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span> -->
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 17 14"
    >
      <path
        d="M16 2H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 0 1 0 2Z"
      />
    </svg>
  </div>

  <ul class="list" [class.active]="menuOpen">
    <li><a routerLink="/greetings" class="link">Home</a></li>
    <li><a routerLink="/books" class="link">Livros</a></li>
    <li><a routerLink="/dev" class="link">Desenvolvedor</a></li>
    <li><a class="link" routerLink="/about">Sobre</a></li>
    <li><a class="link" routerLink="/login">Login</a></li>
  </ul>
</nav>
