<!-- Apresentação do Sistema -->

<app-home />

<!-- Toast -->

<div
  id="toast-success"
  class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
  role="alert"
  *ngIf="success"
>
  <div
    class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
  >
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
      />
    </svg>
    <span class="sr-only">Check icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">O Livro foi Atualizado!</div>
  <button
    type="button"
    class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
    data-dismiss-target="#toast-success"
    aria-label="Close"
  >
    <span class="sr-only">Close</span>
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
      />
    </svg>
  </button>
</div>

<div
  id="toast-danger"
  class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
  role="alert"
  *ngIf="deletou"
>
  <div
    class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200"
  >
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"
      />
    </svg>
    <span class="sr-only">Error icon</span>
  </div>
  <div class="ms-3 text-sm font-normal">O Livro foi Deletado!</div>
  <button
    type="button"
    class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
    data-dismiss-target="#toast-danger"
    aria-label="Close"
  >
    <span class="sr-only">Close</span>
    <svg
      class="w-3 h-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
      />
    </svg>
  </button>
</div>

<div class="contain-layout">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-custom-font-color"
    >
      <thead
        class="text-xs text-custom-font-color uppercase bg-custom-bg-color"
      >
        <tr>
          <th scope="col" class="px-8 py-3">Nome do Livro</th>
          <th scope="col" class="px-8 py-3">Autor</th>
          <th scope="col" class="px-8 py-3">Editora</th>
          <th scope="col" class="px-8 py-3">Páginas</th>
          <th scope="col" class="px-8 py-3">
            <span class="sr-only">View</span>
          </th>
          <th scope="col" class="px-8 py-3">
            <span class="sr-only">Edit</span>
          </th>
          <th scope="col" class="px-8 py-3">
            <span class="sr-only">Remove</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let book of books">
          <tr class="bg-custom-bg-color border-b hover:bg-gray-50">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-custom-font-color whitespace-nowrap"
            >
              {{ book.name }}
            </th>
            <td class="px-6 py-4">{{ book.author.name }}</td>
            <td class="px-6 py-4">{{ book.publisherName }}</td>
            <td class="px-6 py-4">{{ book.pages }}</td>
            <td class="px-6 py-4">
              <button
                class="font-medium text-blue-600 hover:underline"
                type="button"
                (click)="openViewModal(book)"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </td>

            <td class="px-6 py-4 text-right">
              <button
                class="font-medium text-blue-600 hover:underline"
                type="button"
                (click)="openEditModal(book)"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                  />
                </svg>
              </button>
            </td>
            <td class="px-6 py-4">
              <button
                class="font-medium text-red-600 hover:underline"
                type="button"
                (click)="openDeleteModal(book)"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <app-pagination />
  </div>
</div>

<!-- Modal para Visualizar Livro -->
<app-modal [isOpen]="isViewModalOpen" (close)="closeViewModal()">
  <h2 class="text-xl font-bold">Visualizar Livro</h2>
  <div class="p-4 md:p-5">
    <div class="grid gap-4 mb-4 grid-cols-2">
      <div class="col-span-2">
        <label
          for="viewName"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nome do Livro</label
        >
        <input
          type="text"
          id="viewName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [value]="bookToView?.name"
          readonly
        />
      </div>
      <div class="col-span-2 sm:col-span-1">
        <label
          for="viewPages"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Páginas do Livro</label
        >
        <input
          type="text"
          id="viewPages"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [value]="bookToView?.pages"
          readonly
        />
      </div>

      <div class="col-span-2 sm:col-span-1">
        <label
          for="viewChapters"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Capítulos</label
        >
        <input
          type="text"
          id="viewChapters"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [value]="bookToView?.chapters"
          readonly
        />
      </div>

      <div class="col-span-2 sm:col-span-1">
        <label
          for="viewIsbn"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >ISBN</label
        >
        <input
          type="text"
          id="viewIsbn"
          mask="000-0-00-000000-0"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [value]="bookToView?.isbn"
          readonly
        />
      </div>

      <div class="col-span-2 sm:col-span-1">
        <label
          for="viewAuthorAge"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Idade do Autor</label
        >
        <input
          type="text"
          id="viewAuthorAge"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [value]="bookToView?.author.age"
          readonly
        />
      </div>

      <div class="col-span-2">
        <label
          for="viewPublisher"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Editora</label
        >
        <input
          type="text"
          id="viewPublisher"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [value]="bookToView?.publisherName"
          readonly
        />
      </div>

      <div class="col-span-2">
        <label
          for="viewAuthorName"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Autor do Livro</label
        >
        <input
          type="text"
          id="viewAuthorName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          [value]="bookToView?.author.name"
          readonly
        />
      </div>
    </div>
    <button
      type="button"
      (click)="closeViewModal()"
      class="text-white inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
    >
      Fechar
    </button>
  </div>
</app-modal>

<!-- Modal para Editar Livro -->
<app-modal [isOpen]="isEditModalOpen" (close)="closeEditModal()">
  <h2 class="text-xl font-bold">Editar Livro</h2>
  <form class="p-4 md:p-5" (ngSubmit)="updateBook()">
    <div class="grid gap-4 mb-4 grid-cols-2">
      <div class="col-span-2">
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nome do Livro</label
        >
        <input
          type="text"
          name="name"
          id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="O Senhor dos Anéis"
          required=""
          [(ngModel)]="bookToUpdate.name"
        />
      </div>
      <div class="col-span-2 sm:col-span-1">
        <label
          for="pagina"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Páginas do livro</label
        >
        <input
          type="text"
          name="pagina"
          id="pagina"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="Ex: 250"
          required=""
          [(ngModel)]="bookToUpdate.pages"
        />
      </div>

      <div class="col-span-2 sm:col-span-1">
        <label
          for="capitulos"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Capitulos</label
        >
        <input
          type="text"
          name="capitulos"
          id="capitulos"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="59 anos"
          required=""
          [(ngModel)]="bookToUpdate.chapters"
        />
      </div>

      <div class="col-span-2 sm:col-span-1">
        <label
          for="isbn"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >ISBN</label
        >
        <input
          type="text"
          name="isbn"
          id="isbn"
          mask="000-0-00-000000-0"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="978-3-16-148411-7"
          required=""
          [(ngModel)]="bookToUpdate.isbn"
        />
      </div>

      <div class="col-span-2 sm:col-span-1">
        <label
          for="idade"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Idade</label
        >
        <input
          type="text"
          name="idade"
          id="idade"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="59 anos"
          required=""
          [(ngModel)]="bookToUpdate.author.age"
        />
      </div>

      <div class="col-span-2">
        <label
          for="editora"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Editora</label
        >
        <input
          type="text"
          name="editora"
          id="editora"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="HarperCollins"
          required=""
          [(ngModel)]="bookToUpdate.publisherName"
        />
      </div>

      <div class="col-span-2">
        <label
          for="autor"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Autor do Livro</label
        >
        <input
          type="text"
          name="autor"
          id="autor"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="HarperCollins"
          required=""
          [(ngModel)]="bookToUpdate.author.name"
        />
      </div>
    </div>
    <button
      type="submit"
      class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Atualizar
    </button>
  </form>
</app-modal>

<!-- Modal para Confirmar Exclusão -->
<app-modal [isOpen]="isDeleteModalOpen" (close)="closeDeleteModal()">
  <h2 class="text-xl font-bold">Confirmar Exclusão</h2>
  <p class="mt-4">
    Você tem certeza de que deseja excluir o livro "<strong>{{
      bookToDelete?.name
    }}</strong>
    "?
  </p>
  <div class="flex justify-end mt-4">
    <button
      (click)="confirmDelete()"
      class="px-4 py-2 bg-red-500 text-white rounded-lg mr-2"
    >
      Excluir
    </button>
    <button
      (click)="closeDeleteModal()"
      class="px-4 py-2 bg-gray-300 text-black rounded-lg"
    >
      Cancelar
    </button>
  </div>
</app-modal>
